@import "../../mixins.scss";

.side-img {
    width: 350px;
    height: 400px;
    display: none;
    
    img {
        border-radius: 8px;
    }
}

.main-title {
    margin: 24px 0;
    min-height: 36px;
    
    p {
        font-size: 18px;
        font-weight: 800;
        color: var(--orange2);
        border: 1.5px solid var(--orange);
        padding: 8px 12px;
        border-radius: 8px;
        background-color: #FFF2EA;
    }
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}