.header {
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    img {
        width: 1.75rem;
    }

    span {
        font-size: 1.50rem;
        font-weight: 700;
        color: var(--orange);
        text-transform: uppercase;
    }
}