#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  /* text-align: center; */
}

.load-btn {
  margin-top: 20px;
  background-color: var(--orange);
  border-radius: 30px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}